@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth!important;
}

.wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  

.gradiant-bg {
    @apply bg-gradient-to-r from-[#13B0F5] to-[#E70FAA]
}


@layer base {
    body {
        @apply bg-[#ecf0f3] text-[#1f2937] tracking-wide
    }

    h1,h2,h3,h4,h5,h6{
        @apply font-bold
    }

    h1 {
        @apply text-3xl  md:text-4xl lg:text-6xl bg-clip-text text-transparent bg-gradient-to-r from-[#13B0F5] to-[#E70FAA]
    }

    h2 {
        @apply text-3xl font-bold  md:text-4xl lg:text-5xl
    }

    h3 {
        @apply  font-bold text-sm  md:text-lg lg:text-xl
    }

    li {
        @apply cursor-pointer
    }

    button {
        @apply shadow-xl shadow-gray-400 rounded-md uppercase bg-gradient-to-r from-[#13B0F5] to-[#E70FAA] text-white p-2
    }
}





